body {
    background-color: #f0ecec;
    color: #121312
}


#header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 95vh;
    color: #3f3f3f;
}

#header {
   background-color: 	#0d0d0f; 
   font-family: Arial, Helvetica, sans-serif;
}

#header, #projects, #about-me, #contact-information {
    text-align: center;
}

#arrow {
    color: #3f3f3f;
}

#arrow:hover {
    color: gray;
    cursor: pointer;
}

.work {
    background: #f0ecec;
    color: #3f3f3f;
}

section {
    padding-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-photo:hover {
    height: 53px;
}

.contact-header {
    color: black;
}